.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-text {
  text-align: center;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}

.greyOut {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: rgb(230, 199, 255);
}

.letsKeepScore {
  text-align: center;
  background-color: rgb(230, 199, 255);
  color: rgb(47, 0, 94);
}

.playerCard {
  background-color: rgb(230, 199, 255) !important;
  border: rgb(47, 0, 94) !important;
  border-width: 2px !important;
  border-style: solid !important;
  width: 18rem;
  justify-content: center;
  margin: auto;
  float: left;
}

.playerCardName {
  color: rgb(47, 0, 109);
  border: blueviolet;
  border-style: groove;
  border-width: 2px;
  font-size: 36px !important;
}

.diceCard {
  display: inline-block;
  padding: 20px;
  border: rgb(47, 0, 109);
  border-style: groove;
  border-width: 2px;
}

.center {
  margin: auto;
  width: 50%;
  display: inline-block;
}
